.container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 80px 10px 10px 10px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.containerNumber {
  border: 1px solid rgba(1, 131, 1, 0.8);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100px;
  height: 100px;
}

.number {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 5px;
}

.title {
  font-size: 0.8rem;
}
