.title {
  color: var(--bg-second);
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}

.title::first-letter {
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .title {
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 500;
  }
}