.container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.containerItem img {
  width: 50px;
}

.player,
.goals {
  line-height: 100%;
  text-align: center;
  font-weight: 400;
}

.goals {
  font-size: 0.9rem;
  color: var(--color-light-300);
}

.player {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-light-100);
}

@media (max-width: 480px) {
  .container {
    gap: 10px;
  }

  .containerItem img {
    width: 40px;
  }

  .player {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.75rem;
  }

  .goals {
    font-size: 0.75rem;
    margin-top: 0;
  }
}