.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  gap: 0.8rem
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}