.container {
  display: flex;
  align-items: center;
}

.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  text-shadow:
    0px 0px 10px var(--color-black),
    -1px 1px 1px var(--color-black),
    -5px 5px 5px var(--color-black),
    -7px 7px 7px var(--color-black);
  text-transform: uppercase;
}

.description {
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.image {
  display: inline-block;
  border-radius: 40px;
  max-width: 480px;
  width: 100%;
  border: 1px solid var(--color-grass-11);
  box-shadow: 5px 5px 10px var(--color-grass-11);
}
