@import url('./../../../../data/theme/theme.css');

.container {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}

.container:hover {
  scale: 1.1;
  border: 1px solid var(--bg-second-transparent20);
  border-radius: 0.8rem;
  box-shadow: 2px 2px 3px 3px var(--bg-second-transparent20),
              0px 0px 1px 1px var(--bg-second-transparent70);
  background-color: var(--bg-main-transparent50);
}

.containerImages {
  max-width: 120px;
  width: 100%;
  display: flex;
}

.icon {
  max-width: 50%;
  object-fit: contain;
  align-self: flex-end;
  margin-left: -30px;
}

.nameCountry {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 100%;
  font-size: 1.2rem;
  color: var(--bg-second-transparent70);
}

@media (max-width: 768px) {
  .container:hover {
    all: unset;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
  
  .containerImages {
    max-width: 90px;
    width: 100%;
  }
  
  .icon {
    margin-left: -20px;
  }
  
  .nameCountry {
    margin-top: 10px;
    font-size: 0.8rem;
  }
}