.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
}

.containerTitle {
  /* display: flex;
  gap: 5px; */
}

.icon {
  display: inline-block;
  max-height: 15px;
  margin-left: 5px;
}

.title {
  display: inline-block;
  max-width: 100px;
  width: 100%;
  font-size: 1.0rem;
  font-weight: 400;
}

.value {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  color: rgb(210, 250, 140);
}

.containerYears {
  display: flex;
  align-items: center;
  gap: 5px;
}

.year {
  font-size: 0.6rem;
  font-weight: 400;
  font-style: italic;
}

 .block {
  margin-left: 10px;
  width: 120px;
  background-color: rgba(0, 57, 15, 0.5);
  border-radius: 5px;
}