.parameter {
  margin-top: 5px;
  color: var(--color-secondary-300);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 100%;
  text-align: left;
  width: 135px;
}

@media (max-width: 480px) {
  .parameter {
    font-size: 0.8rem;
    text-transform: none;
    width: 100px;
    flex-shrink: 0;
  }
}

@media (max-width: 390px) {
  .parameter {
    font-size: 0.8rem;
    text-transform: none;
    width: 70px;
    flex-shrink: 0;
  }
}