.container,
.containerRevers {
  display: flex;
  gap: 5px;
  align-items: center;
  max-width: 220px;
  width: 100%;

  @media (max-width: 480px) {
    max-width: 100px;
  }
}

.containerRevers {
  flex-direction: row;
  justify-content: start;
}

.container {
  flex-direction: row-reverse;
  justify-content: end;
}

.containerNoReal {
  opacity: 0.5;
}

.containerFlag {
  width: 45px;

  @media (max-width: 768px) {
    max-width: 35px;
  }

  @media (max-width: 480px) {
    max-width: 20px;
  }
}
