.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px 0px var(--color-white-transparent-70);
  margin-bottom: 10px;
  overflow-x: auto;
  table-layout: auto;
}

.tableHeader {
  font-size: 0.8rem;
  border: 1px solid var(--color-gray-8);
  color: var(--color-lime-7);
  padding: 10px;
  position: relative;

  @media (max-width: 605px) {
    padding: 0.5rem 0.3rem;
  }

  @media (max-width: 480px) {
    padding: 5px;
    font-size: 0.6rem;
  }
}

.tableHeader:hover {
  cursor: pointer;
}

[title]::after {
  content: attr(title);
  position: absolute;
  top: -25px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  font-size: 1rem;
  color: var(--color-lime-7);
  font-weight: normal;
}

[title]:hover::after {
  opacity: 1;
}

.bodyTable {
  background-color: var(--color-gray-11);
  color: var(--color-gray-6);
}

.bodyTable th {
  border: 1px solid var(--color-gray-8);
  padding: 5px;
  font-size: 1rem;

  @media (max-width: 605px) {
    padding: 0.5rem 0.3rem;
    font-size: 0.8rem;
  }

  @media (max-width: 480px) {
    padding: 5px;
    font-size: 0.6rem;
  }
}

@media (max-width: 605px) {
  .tableHeader:last-child,
  .tableHeader:nth-child(9),
  .bodyTable th:last-child,
  .bodyTable th:nth-child(9) {
    display: none;
  }
}

@media (max-width: 480px) {
  .tableHeader:nth-child(3),
  .bodyTable th:nth-child(3) {
    display: none;
  }

  .titleTable {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}
