@import url('./../../../../data/theme/theme.css');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -80px;
  top: 15px;
}

.rating {
  display: inline-block;
  background-color: var(--bg-main-transparent70);
  border-radius: 50%;
  border: 1px solid var(--bg-second);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px var(--bg-main-transparent50);
}

.value {
  font-size: 1.6rem;
  color: yellow;
}

.title {
  margin-top: 5px;
  font-size: 0.8rem;
  color: var(--bg-main-transparent70);
}

.points {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--bg-main-transparent70);
}

@media (max-width: 600px) {
  .container {
    display: none;
  }
}


