.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70px;
  width: 100%;
}

.score, 
.index {
  text-align: center;
  font-size: 1rem;
}

.score {
  font-size: 1rem;
}

.index {
  margin-top: 10px;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  /* .container {
    padding: 5px;
  } */
}

@media (max-width: 480px) {
  .container {
    max-width: 40px;
  }
  .score {
    font-size: 0.65rem;
  }
  
  .index {
    font-size: 0.55rem;
  }
}