.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 60px;
  width: 100%;
}

.main, 
.pen {
  text-align: center;
}

.main {
  font-size: 1.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.pen {
  font-size: 1.0rem;
}

.ind {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .main {
    font-size: 0.65rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
}