/* Определение переменных в корневом селекторе */
:root {
  /* Gray (серые) */
  --color-gray-1: #fcfcfc;
  --color-gray-2: #f9f9f9;
  --color-gray-3: #f0f0f0;
  --color-gray-4: #e8e8e8;
  --color-gray-5: #e0e0e0;
  --color-gray-6: #d9d9d9;
  --color-gray-7: #cecece;
  --color-gray-8: #bbbbbb;
  --color-gray-9: #8d8d8d;
  --color-gray-10: #838383;
  --color-gray-11: #646464;
  --color-gray-12: #202020;

  /* Tomato (красные/оранжевые) */
  --color-tomato-1: #fffcfc;
  --color-tomato-2: #fff8f7;
  --color-tomato-3: #feebe7;
  --color-tomato-4: #ffdcd3;
  --color-tomato-5: #ffcdc2;
  --color-tomato-6: #fdbdaf;
  --color-tomato-7: #f5a898;
  --color-tomato-8: #ec8e7b;
  --color-tomato-9: #e54d2e;
  --color-tomato-10: #dd4425;
  --color-tomato-11: #d13415;
  --color-tomato-12: #5c271f;

  /* Grass (зелёные) */
  --color-grass-1: #fbfefb;
  --color-grass-2: #f3fcf3;
  --color-grass-3: #ebf9eb;
  --color-grass-4: #dff3df;
  --color-grass-5: #ceebcf;
  --color-grass-6: #b7dfba;
  --color-grass-7: #97cf9c;
  --color-grass-8: #65ba75;
  --color-grass-9: #46a758;
  --color-grass-10: #3d9a50;
  --color-grass-11: #297c3b;
  --color-grass-12: #1b311e;

  /* Yellow (жёлтые) */
  --color-yellow-1: #fdfdf9;
  --color-yellow-2: #fffce8;
  --color-yellow-3: #fffbd1;
  --color-yellow-4: #fff8bb;
  --color-yellow-5: #fef2a4;
  --color-yellow-6: #f9e68c;
  --color-yellow-7: #efd36c;
  --color-yellow-8: #ebbc00;
  --color-yellow-9: #f5d90a;
  --color-yellow-10: #f7ce00;
  --color-yellow-11: #946800;
  --color-yellow-12: #35290f;

  /* Lime (салатовые) */
  --color-lime-1: #fcfdfa;
  --color-lime-2: #f7fcf0;
  --color-lime-3: #eefadc;
  --color-lime-4: #e4f7c7;
  --color-lime-5: #d7f2b0;
  --color-lime-6: #c9e894;
  --color-lime-7: #b1d16a;
  --color-lime-8: #94ba2c;
  --color-lime-9: #99d52a;
  --color-lime-10: #93c926;
  --color-lime-11: #5d770d;
  --color-lime-12: #263209;

  /* Black & White */
  --color-black: #000000;
  --color-black-transparent-30: rgba(0, 0, 0, 0.3);
  --color-black-transparent-50: rgba(0, 0, 0, 0.5);
  --color-black-transparent-60: rgba(0, 0, 0, 0.6);
  --color-black-transparent-70: rgba(0, 0, 0, 0.7);
  --color-white: #ffffff;
  --color-white-transparent-50: rgba(250, 250, 250, 0.5);
  --color-white-transparent-70: rgba(250, 250, 250, 0.7);















  --color-primary-100: rgb(216, 255, 176);
  --color-primary-200: rgb(181, 241, 130);
  --color-primary-300: rgb(105, 161, 68);
  --color-primary-400: rgb(74, 127, 16);
  --color-primary-500: rgb(42, 78, 0);
  --color-primary-600: rgb(25, 47, 0);

  --color-secondary-100: rgb(251, 230, 113);
  --color-secondary-200: rgb(251, 220, 48);
  --color-secondary-300: rgb(255, 215, 0);
  --color-secondary-400: rgb(165, 141, 0);
  --color-secondary-500: rgb(95, 80, 0);
  --color-secondary-300-transparent-50: rgba(255, 215, 0, 0.5);
  --color-secondary-300-transparent-30: rgba(255, 215, 0, 0.3);

  --color-dark-100: rgb(148, 148, 148);
  --color-dark-200: rgb(108, 108, 108);
  --color-dark-300: rgb(77, 77, 77);
  --color-dark-400: rgb(51, 51, 51);
  --color-dark-500: rgb(38, 38, 38);
  --color-dark-600: rgb(20, 20, 20);
  --color-dark-700: rgb(0, 0, 0);
  --color-dark-700-transparent-50: rgba(0, 0, 0, 0.5);
  --color-dark-700-transparent-30: rgba(0, 0, 0, 0.3);
  --color-dark-700-transparent-60: rgba(0, 0, 0, 0.6);
  --color-dark-700-transparent-70: rgba(0, 0, 0, 0.7);

  --color-light-100-transparent-70: rgba(255, 255, 255, 0.7);
  --color-light-100-transparent-50: rgba(255, 255, 255, 0.5);
  --color-light-100-transparent-30: rgba(255, 255, 255, 0.3);
  --color-light-100-transparent-20: rgba(255, 255, 255, 0.2);
  --color-light-100: rgb(255, 255, 255);
  --color-light-200: rgb(215, 215, 215);
  --color-light-300: rgb(182, 182, 182);

  --color-danger-100: rgb(255, 214, 214);
  --color-danger-200: rgb(255, 153, 153);
  --color-danger-300: rgb(255, 92, 92);
  --color-danger-400: rgb(255, 0, 0);
  --color-danger-500: rgb(220, 0, 0);
  --color-danger-600: rgb(180, 0, 0);
  --color-danger-700: rgb(120, 0, 0);

  --bg-main: rgb(0, 0, 0);
  --bg-main-transparent20: rgba(0, 0, 0, 0.2);
  --bg-main-transparent50: rgba(0, 0, 0, 0.5);
  --bg-main-transparent70: rgba(0, 0, 0, 0.7);
  --bg-main-transparent80: rgba(0, 0, 0, 0.8);

  --bg-second: rgb(255, 255, 255);
  --bg-second-transparent20: rgba(255, 255, 255, 0.2);
  --bg-second-transparent30: rgba(255, 255, 255, 0.3);
  --bg-second-transparent50: rgba(255, 255, 255, 0.5);
  --bg-second-transparent70: rgba(255, 255, 255, 0.7);
  --bg-second-transparent80: rgba(255, 255, 255, 0.8);
  --bg-second-transparent90: rgba(255, 255, 255, 0.9);

  --accent-main: rgb(125, 250, 55);
  --accent-main-transparent80: rgba(125, 250, 55, 0.8);
  --accent-main-transparent50: rgba(125, 250, 55, 0.5);
  --accent-main-transparent30: rgba(125, 250, 55, 0.3);
  --accent-main-transparent20: rgba(125, 250, 55, 0.2);

  --accent-second: rgb(255, 215, 0);
  --accent-second-transparent10: rgba(255, 215, 0, 0.1);
  --accent-second-transparent20: rgba(255, 215, 0, 0.2);
  --accent-second-transparent50: rgba(255, 215, 0, 0.5);

  --no-accent: rgb(128, 128, 128);
  --no-accent-transparent20: rgba(128, 128, 128, 0.2);
  --no-accent-transparent50: rgba(128, 128, 128, 0.5);
  --no-accent-transparent80: rgba(128, 128, 128, 0.8);

  --first-place: rgb(247, 208, 0);
  --second-place: rgb(192, 192, 192);
  --third-place: rgb(205, 127, 50);

  --no: rgb(175, 108, 108);
  --no-transparent50: rgba(175, 108, 108, 0.5);
}
