.container {
  padding: 80px 30px 60px 10px;
  background-image: url("./../../assets/background-fifa.png");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
}

.containerContent {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  max-width: 700px;
  width: 100%;
  background: var(--bg-main-transparent20);
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px var(--bg-second-transparent50),
  1px 2px 4px 0px var(--bg-second-transparent50),
  2px 4px 8px 0px var(--bg-second-transparent30),
  2px 4px 16px 0px var(--bg-second-transparent20);
}

.containerText {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--bg-second-transparent80);
}

.year {
  width: 60px;
  font-size: 1.3rem;
  font-weight: 700;
  display: block;
  line-height: 140%;
  color: var(--accent-main-transparent80);
  flex-shrink: 0;
}

.text {
  display: block;
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 2px;
  color: var(--bg-second-transparent80);
}

@media (max-width: 1200px) {
  .container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 40px 10px 40px 10px;
  }

  .containerText {
    gap: 10px;
  }

  .year {
    width: 55px;
    font-size: 1.2rem;
  }

  .text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .year {
    width: 50px;
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}
