.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.title {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-light-200);
}

.containerParameters {
  padding: 0 10px;
  border-top: 1px solid var(--color-dark-300);
  border-bottom: 1px solid var(--color-dark-300);
  background-color: var(--color-dark-700-transparent-30);
  box-shadow: 0 0 10px 0px var(--color-light-100-transparent-70);
  border-radius: 15px;
}

@media (max-width: 768px) {
  .title {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
