.container {
  display: flex;
  justify-content: center;
  gap: 60px;

  @media (max-width: 1024px) {
    gap: 20px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.link,
.active {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.link {
  color: var(--gray-11);
}

.link:hover {
  color: var(--grass-11);
  scale: 1.1;
}

.active {
  color: var(--grass-11);
}
