@import url('./../../../../data/theme/theme.css');

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px;
  width: 100px;
  border-top: 1px solid var(--bg-second-transparent50);
  border-bottom: 2px solid var(--bg-main-transparent50);
  box-shadow: 0 0 3px 2px var(--bg-second-transparent30);
  border-radius: 0.4rem;
}

.teamGoals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  border-top: 1px solid var(--bg-second-transparent50);
  border-bottom: 1px solid var(--bg-main-transparent50);
  box-shadow: 0 0 2px var(--bg-second-transparent30);
  border-radius: 10%;
  padding: 2px 5px;
  font-size: 1rem;
  font-weight: 700;
}

.extraDataTeamGoals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  border-radius: 10%;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  margin: -3px 0;
}

/* @media (max-width: 605px) {
  .container {
    width: 4.8rem;
    padding: 0.5rem 0.3rem;
  }

  .score {
    font-size: 0.8rem;
  }
} */


@media (max-width: 480px) {
  .container {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .teamGoals {
    font-size: 0.6rem;
    font-weight: 600;
    width: 15px;
    padding: 0;


    border-top: 1px solid var(--bg-second-transparent50);
    border-bottom: 1px solid var(--bg-main-transparent50);
    box-shadow: 0 0 2px var(--bg-second-transparent30);
    border-radius: 10%;
    /* padding: 2px 3px; */


  }
  
  .extraDataTeamGoals {
    width: 15px;
    font-size: 0.45rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10%;

    font-weight: 500;
    text-align: center;
    margin: -3px 0;
  }
}