@import url('./../../../data/theme/theme.css');

.container {
  border: 1px solid var(--bg-main-transparent50);
  box-shadow: 0 1px 2px 3px var(--bg-second-transparent50);
  background-color: var(--bg-main-transparent20);
  border-radius: 1.0rem;
  padding: 10px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: auto;
}

.containerItems {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
}