.container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 480px) {
  .container {
    gap: 5px;
  }
}