.container {
  position: relative;
  width: 100%;
  color: white;
}

.containerImg {
  height: 100vh;
  opacity: 0.5;
}

.imageFootball {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerContent {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

h1{
  font-size: 50px;
  text-transform: uppercase;
}
