.wrapperItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.itemMenu { 
  padding: 5px;
}

.itemMenu a {
  color: var(--bg-second-transparent90);
  text-transform: uppercase;
  font-size: 1.0rem;
  line-height: 100%;
  font-weight: 600;
  transition: all 0.5s;
  text-align: center;
  display: block;
}

/* "Hover effects only for desktops */
@media (hover: hover) and (min-width: 769px) {
  .itemMenu a:hover,
  .itemMenu a.active {
  color: var(--accent-main-transparent80);
  }
}

@media (max-width: 1000px) {
  .itemMenu a {
    font-size: 0.9rem;
    line-height: 120%;
  }
}

@media (max-width: 768px) {
  .wrapperItems {
    gap: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--bg-main-transparent70);
    border-radius: 50px 0 0 50px;
    padding: 50px 30px 30px 30px;
    box-shadow: 0px 0px 5px 5px var(--bg-main-transparent50);
    transition: all 0.5s linear;
    border: 1px solid var(--bg-second-transparent50);
    height: 100%;
  }

  .wrapper {
    position: static;
    height: 100%;
    width: 100%;
    transform: none;
    transition: none;
  }

  .active {
    transform: none;
    right: auto;
  }
}





