.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  gap: 0.8rem
}

.containerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 7rem;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .containerIcon {
    width: 6rem;
    height: 4rem;
  }
}

@media (max-width: 480px) {
  .containerIcon {
    order: 1;
    margin-right: 3rem;
    align-self: flex-end;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
}