.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {
    display: flex;
  }
}

.overlay {
  padding: 10px 20px;
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-8);
  box-shadow: 2px 0px 10px var(--gray-9);
  border-radius: 20px;
}

.mobileMenuContent {
  position: relative;
  top: 10px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.mobileMenuItem {
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.mobileMenuItem a {
  text-decoration: none;
  text-transform: uppercase;
}

.trigger {
  color: var(--gray-11);

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.link,
.active {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.link {
  color: var(--gray-11);
}

.active {
  color: var(--grass-11);
}
