.container {
  width: 100%;
  padding: 5px;
  margin-top: 60px;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative;
}

.containerNode {
  width: 100%;
  padding: 5px 5px 10px 10px;
  border: 1px solid #ffffff;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0,0.7),
              1px 2px 4px 0px rgba(0, 0, 0, 0.7),
              2px 4px 8px 0px rgba(0, 0, 0, 0.7),
              2px 4px 16px 0px rgba(255, 255, 255, 0.7);
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}

.node {
  background-color: #0d590d;
  border-radius: 10px;
}

.lastNode {
  background-color: #747f20;
  border-radius: 10px;
}

.lastNode::before {
  content: '';
  position: absolute;
  top: -200px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./../../../../assets/icon-cup/world.png'); /* Укажите путь к изображению */
  background-size: 15%; /* Чтобы изображение сохраняло свои пропорции */
  background-position: center;
  background-repeat: no-repeat;
}