.container {
  display: flex;
}

/* direction */
.direction-row {
  flex-direction: row;
}

.direction-col {
  flex-direction: column;
}

.direction-row-reverse {
  flex-direction: row-reverse;
}

.direction-col-reverse {
  flex-direction: column-reverse;
}

/* Alignment to the main axis */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* Alignment along the transverse axis */
.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

/* wrap */
.wrap-nowrap {
  flex-wrap: nowrap;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Отступы */
@each $size in 0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64 {
  .gap-#{$size} {
    gap: #{$size * 0.25}rem;
  }
}