.container {
  width: 100%;
  height: 350px;
  padding: 0.5rem;
  overflow: hidden;
  position: relative;
}

/* style for createNodes */
.node {
  background-color: var(--color-dark-700-transparent-50);
  border-radius: 10px;
}

.lastNode--FIFA,
.lastNode--UEFA,
.lastNode--AFC,
.lastNode--CAF,
.lastNode--CONMEBOL,
.lastNode--CONCACAF,
.lastNode--OFC {
  background-color: var(--color-secondary-300-transparent-30);
  border-radius: 10px;
}

.lastNode--FIFA::before,
.lastNode--UEFA::before,
.lastNode--AFC::before,
.lastNode--CAF::before,
.lastNode--CONMEBOL::before,
.lastNode--CONCACAF::before,
.lastNode--OFC::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -350px;
  background-size: 5%; /* Чтобы изображение сохраняло свои пропорции */
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
}

.lastNode--FIFA::before {
  background-image: url('./../../../../../entities/national-team/assets/icon-cup/world.png');
}

.lastNode--UEFA::before {
  background-image: url('./../../../../../entities/national-team/assets/icon-cup/uefa.png');
}

.lastNode--AFC::before {
  background-image: url('./../../../../../entities/national-team/assets/icon-cup/afc.png');
}

.lastNode--CAF::before {
  background-image: url('./../../../../../entities/national-team/assets/icon-cup/caf.png');
}

.lastNode--CONMEBOL::before {
  background-image: url('./../../../../../entities/national-team/assets/icon-cup/conmebol.png');
}

.lastNode--CONCACAF::before {
  background-image: url('./../../../../../entities/national-team/assets/icon-cup/concacaf.png');
}

.lastNode--OFC::before {
  background-image: url('./../../../../../entities/national-team/assets/icon-cup/ofc.png');
}