.title {
  text-align: center;
  letter-spacing: 2px;
  line-height: 100%;
}

.variant--stage {
  color: var(--color-secondary-300);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 40px;

  @media (max-width: 480px) {
    font-size: 1.0rem;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.variant--sub-stage {
  color: var(--color-light-100);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;

  @media (max-width: 480px) {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}

.variant--sub-stage::first-letter {
  text-transform: uppercase;
}