.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    padding-top: 20px;
  }
}

.year,
.title {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-secondary-300);
  line-height: 100%;
}

.year {
  font-size: 6.0rem;
  text-shadow: 0 0 10px var(--color-dark-700);

  @media (max-width: 768px) {
    font-size: 3.0rem;
  }
}

.title {
  font-size: 1.8rem;
  text-shadow: 0 0 5px var(--color-dark-700);

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}

.logo {
  display: inline-block;
  max-height: 350px;
  margin-top: 70px;
  margin-bottom: 15px;

  @media (max-width: 480px) {
    margin-top: 20px;
    max-height: 200px;
  }
}