.container {
  display: flex;
}

.containerTeams {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
  width: 11rem;
}

.containerScore {
  margin-top: 0.5rem;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}