.container {
  padding: 10px 20px;
  position: fixed;
  z-index: 1000;
  height: 70px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black-transparent-90);
  border-bottom: 1px solid var(--color-white-transparent-20);
}
