.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: calc(100vh - 80px);
  background-image: linear-gradient(var(--color-dark-700-transparent-50), var(--color-dark-700-transparent-70)), 
                    url("./../../../../shared/assets/competition-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: 768px) {
    height: 100%;
  }
}

