.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.containerMatch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 480px) {
  .containerMatch {
    padding: 0px;
    width: 100%;
    gap: 5px;
  }
}