/* .container {
} */

.year {
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  line-height: 1.8rem;
  color: yellow;
}

.title {
  margin-bottom: 15px;
}

.text {
  font-size: 1.0rem;
}

