.container {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
}

.containerContent {
  margin-top: 60px;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
