.container {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--color-dark-300);
  padding: 10px 0;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.containerItem img {
  width: 60px;
}

.value,
.position {
  line-height: 100%;
  text-align: center;
  font-weight: 400;
}

.value {
  font-size: 0.9rem;
  color: var(--color-light-100);
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 15px;
}

.position {
  font-size: 0.9rem;
  color: var(--color-light-300);
}

@media (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    row-gap: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    gap: 10px;
    align-items: start;
  }

  .containerItem img {
    width: 40px;
  }

  .wrapper {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    row-gap: 20px;
  }

  .value {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.75rem;
  }

  .position {
    font-size: 0.75rem;
  }
}