.container {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--color-dark-200);
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerItem img {
  width: 50px;
}

.value,
.position {
  line-height: 100%;
  text-align: center;
}

.value {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-light-100);
  text-transform: uppercase;
}

.position {
  font-size: 0.9rem;
  color: var(--color-light-300);
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    row-gap: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    gap: 10px;
    align-items: start;
  }

  .containerItem img {
    width: 40px;
  }

  .wrapper {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    row-gap: 20px;
  }

  .value {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.75rem;
  }

  .position {
    font-size: 0.75rem;
  }
}