* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
 }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-size:0.94em;
  line-height:135%;
}

a {
  text-decoration: none;
}

