.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.8);
  background-color: rgba(18, 46, 0, 0.8);
  height: 100%;
}

.titleTable {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.titleTable::first-letter {
  text-transform: uppercase;
}

.headerTable {
  font-size: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(0, 250, 137, 1);
  padding: 10px;
  position: relative;
}

.headerTable:hover {
  cursor: pointer;
}

[title]::after {
  content: attr(title);
  position: absolute;
  top: -20px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  font-size: 1rem;
  color: white;
  font-style: italic;
  font-weight: normal;
}

[title]:hover::after {
  opacity: 1;
}

.bodyTable th {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(80, 80, 80, 0.8);
  color: rgba(220, 220, 220, 0.8);
  padding: 10px 5px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .headerTable {
    padding: 5px;
  }

  .bodyTable th {
    padding: 5px;
    font-weight: normal;
  }

  [title]:hover::after {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .table {
    width: 100%;
    max-width: 300px;
  }

  .titleTable {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }

  .headerTable {
    font-size: 0.65rem;
    font-weight: normal;
  }

  .headerTable:last-child,
  .bodyTable th:last-child {
    display: none;
  }

  .bodyTable th {
    font-size: 0.65rem;
  }

  .bodyTable th div span {
    font-size: 0.65rem !important;
    margin-left: 0 !important;
  }

  .bodyTable th div img {
    width: 0px !important;
  }

}


