.container {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--color-dark-200);
  padding: 15px 10px;
}

.value,
.prompt {
  line-height: 100%;
}

.value {
  display: inline-block;
  font-size: 1rem;
  color: var(--color-light-100);
  font-weight: 500;
}

.prompt {
  font-size: 1rem;
  color: var(--color-light-300);
}

@media (max-width: 480px) {
  .container {
    gap: 10px;
  }

  .value {
    font-size: 0.8rem;
    width: 25px;
  }

  .prompt {
    font-size: 0.7rem;
  }
}