@import url('./../../../data/theme/theme.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border-radius: 0.8rem;
  padding: 0.3rem;
}

.title {
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: center;
  line-height: 100%;
  margin: 0.5rem 0;
  color: var(--bg-main-transparent70);
}

.containerTotalGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem
}

.containerTotalGroup > div:last-child {
  color: var(--bg-second);
}

.containerTotalGroup > div:last-child > div:last-child span {
  font-size: 0.9rem;
  font-weight: 500;
}