@import url('./../../../../data/theme/theme.css');

.wrapper {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: 0.5rem;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  border: 1px solid var(--no-accent-transparent50);
  border-radius: 1rem;
  padding: 0.5rem;
}

.title {
  display: inline-block;
  width: 4rem;
  font-size: 0.8rem;
  color: var(--bg-main-transparent50);
}

.link,
.active,
.btn {
  display: inline-block;
  /* min-width: 4rem; */
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.5s;
  text-align: center;
  font-weight: 700;
  font-size: 1.0rem;
  text-transform: uppercase;
}

.link, 
.btn {
  color: var(--bg-main-transparent70);
}

.active,
.btn.active {
  box-shadow: 0 0 2px 2px var(--bg-main-transparent20);
  background-color: var(--bg-second-transparent70);
  color: var(--bg-main-transparent70);
}

.link:hover,
.btn:hover {
  scale: 1.1;
  background-color: var(--bg-second-transparent70);
}

.btn {
  margin: 0 10px;
  font-size: 0.8rem;
}


@media (max-width: 1300px) {
  .title {
    display: none;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 0.4rem;
    border-radius: 1rem;
    padding: 0.3rem;
    justify-content: space-between;
  }

  .link,
  .active,
  .btn {
    padding: 0.3rem;
    border-radius: 0.6rem;
    font-weight: 600;
    font-size: 0.8rem;
  }
}


@media (max-width: 480px) {
  .wrapper {
    width: 100%;
  }

  .container {
    gap: 0.4rem;
    border-radius: 1rem;
    padding: 0.3rem;
    justify-content: space-around;
    width: 100%;
  }

  .link,
  .active,
  .btn {
    padding: 0.3rem;
    border-radius: 0.6rem;
    font-size: 0.7rem;
  }

  .btn {
    font-size: 0.7rem;
    margin: 0;
  }
}



