.container,
.containerRevers {
  display: flex;
  gap: 5px;
  align-items: center;
  max-width: 220px;
  width: 100%;

  @media (max-width: 480px) {
    max-width: 100px;
  }
}

.containerRevers {
  flex-direction: row;
  justify-content: start;
}

.container {
  flex-direction: row-reverse;
  justify-content: end;
}

.containerFlag {
  width: 45px;

  @media (max-width: 768px) {
    max-width: 35px;
  }

  @media (max-width: 480px) {
    max-width: 20px;
  }
}

.title,
.titleNoReal {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 175px;

  @media (max-width: 480px) {
    max-width: 75px;
    font-size: 0.6rem;
  }
}

.titleNoReal {
  opacity: 0.5;
}
