.wrapper {
  color: white;
  width: 100%;
  position: relative;
}

.wrapperContent {
  position: absolute;
  top: 80px;
  left: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.title {
  margin-top: 20px;
  padding: 20px;
  font-size: 50px;
  max-width: 600px;
  width: 100%;
  line-height: 70px;
  text-align: center;
  color: rgb(85, 85, 234);
}

.description {
  margin-top: 10px;
  padding: 20px;
  font-size: 16px;
  max-width: 700px;
  width: 100%;
  line-height: 30px;
}

.tournaments {
  padding: 20px;
  font-size: 16px;
  max-width: 700px;
  width: 100%;
  line-height: 20px;
}

.cup {
  font-size: 26px;
  color: yellow;
  font-weight: 600;
  line-height: 40px;
}

.image {
  height: 80px;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  left: 180px;

}





