.container {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bg-main-transparent50);
  box-shadow: 0 0 2px 2px var(--bg-main-transparent20);
  position: relative;
  cursor: pointer;
}

.container:hover {
  scale: 1.1;
  box-shadow: 0 0 3px 3px var(--bg-main-transparent50);
}

.circleLarge {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--first-place);
  position: relative;
}

.circleMedium {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--second-place);
  position: relative;
}

.circleSmall {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--third-place);
  position: relative;
}

.squareLarge {
  width: 55px;
  height: 55px;
  border-radius: 1rem;
  background-color: var(--bg-main-transparent50);
  position: relative;
}

.squareSmall {
  width: 40px;
  height: 40px;
  border-radius: 0.7rem;
  background-color: var(--bg-main-transparent50);
  position: relative;
}

.text {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
  position: relative;
  z-index: 100;
}

.zeroValue {
  background-color: var(--bg-second-transparent20);
  border: 1px solid var(--bg-main-transparent20);
  box-shadow: none;
  color: var(--bg-main-transparent20);
  pointer-events: none;
}

.container .description {
  visibility: hidden;
  width: 6.2rem;
  background-color: var(--bg-main-transparent70);
  color: var(--bg-second);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.8rem;

  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.container:hover .description {
  visibility: visible;
  opacity: 1;
}

.icon {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.noIcon {
  display: none;
}

@media (max-width: 480px) {
  .circleLarge {
    width: 45px;
    height: 45px;
  }
  
  .circleMedium {
    width: 40px;
    height: 40px;
  }
  
  .circleSmall {
    width: 35px;
    height: 35px;
  }
  
  .squareLarge {
    width: 45px;
    height: 45px;
  }
  
  .squareSmall {
    width: 35px;
    height: 35px;
  }
  
  .text {
    font-size: 0.9rem;
  }
}
